/* OUTLINE */
/* header, footer, main {
    border: 3px solid red;
} */
/* section {
    border: 3px solid green;
} */
/* .card {
    border: 3px solid blue;
}
.innerColumn {
    border: 3px solid orange;
} */





section {
    display: flex;
}

.innerColumn {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.bot {
    margin-left: auto;
    margin-right: auto;
}

.Scores {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 4px solid black;
    height: 14cap;
    width: 10cap;
    padding-inline: 2px;
    padding-block: 1px;
    text-align: center;
}

.box {
    border: 2px solid black;
    background-color: gainsboro;
    height: 30px;
    width: 100px;
    padding-inline: 6px;
    padding-block: 1px;
    line-height: 3cap;
    text-align: center;
}

.announce {
    text-align: center;
    margin-inline: 1cap;
}